<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Custom Plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Custom Plugin</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button expand="full" (click)="loadContacts()">
      Load Contacts
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let c of contacts">
        <ion-label>
          {{ c.firstName }} {{ c.lastName }}
          <p>
            {{ c.telephone }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
